@font-face {
  font-family: 'pokemon';
  src: url('/fonts/pokemon.ttf');
}

@font-face {
  font-family: 'kulminoituva';
  src: url('/fonts/kulminoituva.ttf');
}

body {
  font: 20px pokemon;
}

#contents{
  text-align: center;
}

#fps_container{
  padding-left: 540px;
}

.instructions, .title{
  font: 30px kulminoituva;
}

#vol_controls div{
  font: 20px kulminoituva;
  display: inline-block;
  border: thin solid black;
  cursor: pointer;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}