body {
  font: 20px pokemon;
}
canvas {}

@font-face {
  font-family: 'pokemon';
  src: url('/fonts/pokemon.ttf');
}

@font-face {
  font-family: 'kulminoituva';
  src: url('/fonts/kulminoituva.ttf');
}

.instructions{
  font: 30px kulminoituva;
}